/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar

.idea/
composer.lock
app/config/parameters.yml
web/js/*
web/css/*
web/img/*
!bin/reload.php
!bin/base_script.php
*~
