{% extends '::base.html.twig' %}
{% block content %}
    <ul>
        {% for obj in objArray %}
            <li>
                {{ obj.name }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}